﻿
span Kliknij by edytować...

.EDITABLE(id=student.id)
    .well
        form(name="login", action="/save", method="get")
            input(type="hidden", name="id", value=student.id)
            .NAME
                //h2 #{student.name} 
                input(type="text", name="name",  placeholder=student.name)  
            .IMG
                //img(src=student.photo height="200")
                input(type="text", name="img",  placeholder=student.photo)
            h3 Przedmioty:
            h5
                ul
                each subject in student.subjects
                    li=subject
            input(type="submit", value="Zapisz")

        form(name="login", action="/delete", method="get")
            input(type="hidden", name="id", value=student.id)
            input(type="submit", value="Usuń")
