﻿
span Kliknij by edytować...

.EDIT(id=student.id)
    .well
        .NAME
            h2 #{student.name}   
        .IMG
            img(src=student.photo height="200")
        h3 Przedmioty:
        h5
            ul
            each subject in student.subjects
                li=subject
        