﻿extends layout
block pageTitle
    .jumbotron
        h1 Super system oglądania studentów
        h2 W tym sytemie można przeglądać studentów.

block pageContent

    input#search(type="search", placeholder="Szukaj studenta")
    | &nbsp;
    #results
    | &nbsp;
    | &nbsp;
    #profile
    | &nbsp;

    .btn-primary#all
        span Pokaż wszystkich

    #gallery
        each student in students.list
            .well
                .STUDENT(id=student.id)   
                    h2 #{student.name}   
                    img(src=student.photo height="200")
                    h3 Przedmioty:
                    h5
                        ul
                        each subject in student.subjects
                            li=subject